{
  "presets": [
    ["env", {"modules": false}]
  ],
  "env": {
    "production": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js",
            "src/vendor.js"
          ]
        }]
      ]
    }
  }
}